{% extends 'base.html.twig' %}

{% block title %}CnamTech{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row g-4">
      <div class="col-md-4">
        <div class="card shadow-sm border-0">
          <div class="card-body">
            <h5 class="card-title">Titre</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis illo
              nisi, optio qui recusandae. Debitis excepturi impedit libero, numquam officiis quidem quis repellat
              repudiandae voluptas voluptatibus. Cum, dolore nesciunt.</p>
            <a href="#" class="btn btn-primary btn-sm">Voir plus</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow-sm border-0">
          <div class="card-body">
            <h5 class="card-title">Titre</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur, culpa
              dolores itaque minima necessitatibus quae repellat velit. Aut blanditiis consequuntur dolorem libero
              officia officiis optio rem saepe sequi vitae.</p>
            <a href="#" class="btn btn-primary btn-sm">Voir plus</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow-sm border-0">
          <div class="card-body">
            <h5 class="card-title">Titre</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur blanditiis commodi, consectetur culpa cum delectus eligendi ex exercitationem expedita iste iure libero molestiae, quam repudiandae vel voluptatibus? A, laudantium.</p>
            <a href="#" class="btn btn-primary btn-sm">Voir plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
